body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #ffffff;
}
p {font-size: 16px;}
.margin {
	margin-bottom: 45px;
}
.bg-1 { 
	background-color: #b0deff; /* Light Blue */
	color: #555555;
}
.bg-2 { 
	background-color: #88bbd6; /* Dark Blue */
	color: #555555;
}
.bg-3 { 
	background-color: #ffffff; /* White */
	color: #555555;
}
.bg-4 { 
	background-color: #cdcdcd; /* Light Gray */
	color: #555555;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav  li a:hover {
	color: #88bbd6;
}
.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #cccccc;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}
input[type='number'] {
  width: 80px;
  border: 0;
  border-radius: 8px;
  text-align: center
}

select {
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 8px;
}
