<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		</button>
		<a class="navbar-brand" href="#top">ac; flash point workout</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#about">ABOUT</a></li>
			<li><a href="#resources">RESOURCES</a></li>
      <li class="divider-vertical"></li>
			<li><a href="index.php">webapp</a></li>
			<li><a href="about.php">about</a></li>
		</ul>
	</div>
	</div>
</nav>


<!-- ABOUT Container -->
<section id="about">
  <div class="container-fluid bg-3 text-center">
    <br><br><br><br>
    <h1 class="margin">Simple and Effective</h1>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        Designed to help you burn those extra pounds or chisel those muscles at home or anywhere you want at your own pace. No heavy equipment required. Some stretch bands and a chair are the most you will need!
      </div>
      <div class="col-sm-3"></div>
    </div>
    <br><br>
    <hr align=center width=40% style="border-color: #cccccc;">
    <br>
    <h1 class="margin">What's New?</h1>
    <h2 class="margin">Weekly Update as of 2020.08.04</h2>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h3 class="margin">New Features</h3>
        <ul class="text-left">
          <li>Reorganized website to have webapp as main page</li>
          <li>Added dropdown options for workout customization and quick use</li>
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h3 class="margin">Bug Fixes</h3>
        <ul class="text-left">
          <li>Fixed some sound issues</li>
          <li>Optimized screen no sleep when webapp is active</li>
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <br>
  </div>
</section>


<!-- RESOURCES Container -->
<section id="resources">
  <br>
  <div class="container-fluid bg-1 text-center">
    <h1 class="margin">Workout Resources</h1>
    <h2 class="margin">Exercise Lists</h2>
    <?php
    include 'exerciselists.php';
    ?>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <h2 class="margin">Skill Trees</h2>
    <?php
    include 'skilltrees.php';
    ?>
  </div>
</section>
