  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="andyzfchen" data-color="#66c2ff" data-emoji=""  data-font="Comic" data-text="buy me a bbt" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
  <br>
  Find me on <a href="http://gitlab.com/andyzfchen/flash-point-workout" target="_blank">Gitlab</a>.
  </footer>

  <script type="text/javascript" src="js/smoothscroll.js"></script>

  </body>
</html>
