<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		</button>
		<a class="navbar-brand" href="index.php">ac; flash point workout</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="index.php">webapp</a></li>
			<li><a href="about.php">about</a></li>
		</ul>
	</div>
	</div>
</nav>


<!-- FIRST Container -->
<section id="first">
  <div class="container-fluid bg-3 text-center">
    <br><br><br><br>
    <h1>A Simple Workout Anywhere</h1>
    <br><br><br>
  </div>
</section>


<!-- WEBAPP Container -->
<section id="webapp">
  <div class="container-fluid bg-1 text-center">
    <br><br>
    <h1 class="margin">Choose Your Workout</h1>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h2 class="margin">Modes</h2>
        <label for="tStyle">Time Style</label><br>
        <select id="tStyle" name="tStyle" onchange="setTime()">
        <optgroup label="Challenges">
          <option value="Insanity 10">Insanity 10</option>
          <option value="Sweat Out 20">Sweat Out 20</option>
          <option value="Slow Burn 30">Slow Burn 30</option>
        </optgroup>
        <optgroup label="Minutes">
          <option value="5min">5 min</option>
          <option value="10min">10 min</option>
          <option value="15min">15 min</option>
          <option value="20min">20 min</option>
          <option value="25min">25 min</option>
          <option value="30min">30 min</option>
        </optgroup>
        </select>
        <br><br>
        <label for="eMode">Workout</label><br>
        <select id="eMode" name="eMode">
        <optgroup label="General">
          <option value="stretching">Stretching</option>
          <option value="upper">Upper Body</option>
          <option value="lower">Lower Body</option>
          <option value="abs">Abs</option>
        </optgroup>
        <optgroup label="Focused">
          <option value="hiit">HIIT</option>
          <option value="arms">Arms</option>
          <option value="shoulder">Shoulder</option>
          <option value="chest">Chest</option>
          <option value="back">Back</option>
          <option value="glutes">Glutes</option>
          <option value="legs">Legs</option>
        </optgroup>
        </select>
        <br><br>
        <label for="voice">Voice</label><br>
        <select id="voice" name="voice" onchange="setVoice()"></select>
        <br><br>
      </div>
      <div class="col-sm-4">
        <h2 class="margin">Timing</h2>
        <div class="row">
          <div class="col-sm-8">
            <label for="nRep">Number of Exercises</label>
          </div>
          <div class="col-sm-2">
            <input type="number" id="nRep" name="nRep" min="2" step="1" value="5"  style="width: 80px; border: 0; text-align: center">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label for="tRep">Seconds per Exercise</label>
          </div>
          <div class="col-sm-2">
            <input type="number" id="tRep" name="tRep" min="30" step="1" value="30">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label for="nRpS">Exercises Until Break</label>
          </div>
          <div class="col-sm-2">
            <input type="number" id="nRpS" name="nRpS" min="1" step="1" value="5">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label for="tReady">Seconds to Get Ready</label>
          </div>
          <div class="col-sm-2">
            <input type="number" id="tReady" name="tReady" min="5" step="1" value="5">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label for="tBreak">Seconds in a Break</label>
          </div>
          <div class="col-sm-2">
            <input type="number" id="tBreak" name="tBreak" min="10" step="1" value="30">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <h2>Total Time</h2>
    <h3 id=tTotal>&nbsp</h3>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <h1 id="status">Press Start To Begin</h1>
    <h2 id="exercise">&nbsp</h2>
    <br>
    <h3 id="info">&nbsp</h3>
    <br>
    <h1 id="time">&nbsp</h1>
    <br>
    <h2 id="nextstatus">Customize Your Workout!</h2>
    <h3 id="nextexercise">use the options above</h3>
    <br>
    <h2 id="pausestatus">&nbsp</h2>
    <br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" id="pb" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <br>
    <button class="btn btn-primary btn-lg" id="start" onclick="customWorkout()">Start!</button>
    <button class="btn btn-primary btn-lg" id="pause" onclick="pauseWorkout()" disabled>Pause</button>
    <br><br>
    <script type="text/javascript" src="js/jquery.csv.js"></script>
    <script type="text/javascript" src="js/NoSleep.js"></script>
    <script type="text/javascript" src="js/webapp.js"></script>
  </div>
</section>
